@import url("http://overpass-30e2.kxcdn.com/overpass.css");


body {
    background-color: #1B2B34;
    color: #D8DEE9;
    font-family: 'Overpass', serif;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 666px;
}

div#content {
    background-color: #D8DEE9;
    color: #1B2B34;
}

div#header {
    border-bottom: 2px solid #C594C5;
    margin-bottom: 30px;
    background-color: #343D46;
}

div#logo a {
    color: #C594C5;
    float: left;
    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: #65737E;
    font-size: 2em;
    font-weight: 400;
    margin-left: 12px;
    text-decoration: none;
    text-transform: lowercase;
}

div#footer {
    border-top: solid 2px #C0C5CE;
    color: #C0C5CE;
    font-size: 14px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
    font-weight: 200;
}

h2 {
    font-size: 20px;
    font-weight: 200;
}

div.info {
    color: #C0C5CE;
    font-size: 14px;
    font-style: italic;
}

li a:visited {
    text-decoration: none;
    color: #4F5B66;
}

a {
    text-decoration: none;
    color: #99C794;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
}
